.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}
.clearfix { display: inline-block; }
/* start commented backslash hack \*/
* html .clearfix { height: 1%; }
.clearfix { display: block; }
/* close commented backslash hack */

body {
  margin: 0;
}

header {
  background: red;
  width: 100%;
}

#main-content {
  background: yellow;
  width: 50%;
}

aside {
  background: green;
  width: 20%;
}

footer {
  background: blue;
  width: 100%;
}

.placeholder {
  border: 1px solid black;
  background: rgba(255,255,255,.6);
  padding: 20px;
  margin: 10px;
}

main section .placeholder {
  color: red;
}

.main-container{
  display:flex;
  align-items: center;
}











