<!doctype html>
<html>
  <head>
    <title>Magazine</title>
    <link href="css/reset.css" rel="stylesheet">
    <link href="css/styles.css" rel="stylesheet">
  </head>

  <body>
    <header>
      <img class="logo">
      <nav>
        <ul>
          <li></li>
          <li></li>
          <li></li>
          <li></li>
        </ul>
      </nav>
    </header>

    <main>
      <aside class="main_aside"></aside>
      <section class="main_section">
        <div class="main_top_banner">
        </div>

        <div class="main_container">

          <div class="center_content">
            <img class="hero_image">
            <ul class="link_container">
              <li class="link_item"></li>
              <li class="link_item"></li>
              <li class="link_item"></li>
            </ul>
          </div>

          <aside class="right_aside">
            <div class="main_space"></div>
            <div class="small_space"></div>
          </aside>

        </div>
      </section>
    </main>

    <footer>
    </footer>
  </body>
</html>
